{% extends 'base.html' %}
{% block page_head_css %}
 <link rel="stylesheet" href="{{ url_for('Exercises.static',filename='css/Exercises.css') }}">{% endblock %}
{% block page_body_main_content %}

        <div class="slideshow-container">

        <div class="mySlides fade">
          <div class="numbertext">1 / 3</div>
             <img src="{{ url_for('Exercises.static', filename='photos/yoga2.jpg' )}}" style="width:100%">
        </div>

        <div class="mySlides fade">
          <div class="numbertext">2 / 3</div>
            <img src="{{ url_for('Exercises.static', filename='photos/yoga3.jpg' )}}" style="width:100%">
        </div>

        <div class="mySlides fade">
          <div class="numbertext">3 / 3</div>
            <img src="{{ url_for('Exercises.static', filename='photos/yoga1.jpg' )}}" style="width:100%">
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        </div>
        <br>

        <div style="text-align:center">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
        </div>

        <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
          showSlides(slideIndex += n);
        }

        function currentSlide(n) {
          showSlides(slideIndex = n);
        }

        function showSlides(n) {
          var i;
          var slides = document.getElementsByClassName("mySlides");
          var dots = document.getElementsByClassName("dot");
          if (n > slides.length) {slideIndex = 1}
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";
          }
          for (i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";
          dots[slideIndex-1].className += " active";
        }
        </script>


<!------------------- calendar table--------------------->
        <table id="calendar"  >
          <!--calnder title-->
            <caption class="caption" id="tb_title"></caption>


            <tr class="weekdays">
              <!-- table title all the week days-->
              <th scope="col" > שבת</th>
              <th scope="col">שישי</th>
              <th scope="col">חמישי</th>
              <th scope="col">רביעי</th>
              <th scope="col">שלישי</th>
              <th scope="col">שני</th>
              <th scope="col" >ראשון</th>
            </tr>
          <!--  Schedule of lessons-->
            <tr class="days" >
              <!-- Day 7-->
              <td class="day" > </div>
                <div class="date" id="date">ש'</div>

                <!--lessons 1-->
                <div class="event" onmouseover="style.backgroundColor='lavender'" onmouseout="style.backgroundColor=' #e4f2f2'" >
                    <div class="event-desc">
                    יוגה למתקמים
                    </div>
                    <div class="event-time">
                      7:00pm to 8:00pm
                    </div>

                         <!--jump box -->
                         <a  onclick="functionPoP1()" class="btn"> פרטים </a>
                        </div>
                             <!-- popup box message-->
                        <div class="box" id="box1">
                         <p class="title"> מספר המשתתפים:10  <br>
                           מיקום השיעור: בן מתיתיהו 6 <br>
                           מספר מקומות פנויים: 1 <br>
                           זמן אחרון לביטול: 6 שעות לפני השיעור</p>
                           <a onclick="seriousnessAlert()"class="Registration">הרשמה</a>
                           <a onclick="functionPoP1()" class="close">סגירה</a>
                    </div>
                    <!--lessons 2-->
                    <div class="event" onmouseover="style.backgroundColor='lavender'" onmouseout="style.backgroundColor=' #e4f2f2'" >
                      <div class="event-desc">
                      יוגה למתקמים
                      </div>
                      <div class="event-time">
                       8:00pm to 9:00pm
                      </div>

                             <!--jump box -->
                             <a  onclick="functionPoP2()" class="btn"> פרטים </a>
                            </div>
                                 <!-- popup box message-->
                            <div class="box" id="box2">
                             <p class="title"> מספר המשתתפים:10  <br>
                               מיקום השיעור: בן מתיתיהו 6 <br>
                               מספר מקומות פנויים: 2 <br>
                               זמן אחרון לביטול: 6 שעות לפני השיעור</p>
                               <a onclick="seriousnessAlert()"class="Registration">הרשמה</a>
                               <a onclick="functionPoP2()" class="close">סגירה</a>
                      </div>
                         <!--lessons 3-->
                    <div class="event" onmouseover="style.backgroundColor='lavender'" onmouseout="style.backgroundColor=' #e4f2f2'" >
                      <div class="event-desc">
                      יוגה למתקמים
                      </div>
                      <div class="event-time">
                      9:00pm to 10:00pm
                      </div>

                        <!--jump box -->
                        <a  onclick="functionPoP3()" class="btn"> פרטים </a>
                      </div>
                           <!-- popup box message-->
                      <div class="box" id="box3">
                       <p class="title"> מספר המשתתפים:10  <br>
                         מיקום השיעור: בן מתיתיהו 6 <br>
                         מספר מקומות פנויים: 2 <br>
                         זמן אחרון לביטול: 6 שעות לפני השיעור</p>
                         <a onclick="seriousnessAlert()"class="Registration">הרשמה</a>
                         <a onclick="functionPoP3()" class="close">סגירה</a>
                      </div>
              </td>
               <!-- Day 6-->
              <td class="day">
                <div class="date" id="date">ו'</div>

                  <!--lessons 1-->
                <div class="event"onmouseover="style.backgroundColor='lavender'" onmouseout="style.backgroundColor=' #e4f2f2'">
                    <div class="event-desc">
                     יוגה למתחילים
                    </div>
                    <div class="event-time">
                      7:00pm to 7:00pm
                    </div>
                     <!--jump box -->
                     <a  onclick="functionPoP4()" class="btn"> פרטים </a>
                    </div>
                         <!-- popup box message-->
                    <div class="box" id="box4">
                     <p class="title"> מספר המשתתפים:10  <br>
                       מיקום השיעור: בן מתיתיהו 6 <br>
                       מספר מקומות פנויים: 2 <br>
                       זמן אחרון לביטול: 6 שעות לפני השיעור</p>
                       <a onclick="seriousnessAlert()"class="Registration">הרשמה</a>
                       <a onclick="functionPoP4()" class="close">סגירה</a>
                    </div>
                     <!-- Day 5-->
              </td>
              <td class="day">
                <div class="date" id="date">ה'</div>

                  <!--lessons 1-->
                <div class="event"onmouseover="style.backgroundColor='lavender'" onmouseout="style.backgroundColor=' #e4f2f2'">
                    <div class="event-desc">
                     יוגה למתחילים
                    </div>
                    <div class="event-time">
                      7:00pm to 7:00pm
                    </div>

                      <!--jump box -->
                      <a  onclick="functionPoP5()" class="btn"> פרטים </a>
                    </div>
                         <!-- popup box message-->
                    <div class="box" id="box5">
                     <p class="title"> מספר המשתתפים:10  <br>
                       מיקום השיעור: בן מתיתיהו 6 <br>
                       מספר מקומות פנויים: 3 <br>
                       זמן אחרון לביטול: 6 שעות לפני השיעור</p>
                       <a onclick="seriousnessAlert()"class="Registration">הרשמה</a>
                       <a onclick="functionPoP5()" class="close">סגירה</a>
                    </div>
                      <!--lessons 2-->
                      <div class="event"onmouseover="style.backgroundColor='lavender'" onmouseout="style.backgroundColor=' #e4f2f2'">
                        <div class="event-desc">
                         יוגה למתקדמים
                        </div>
                        <div class="event-time">
                          8:00pm to 9:00pm
                        </div>

                          <!--jump box -->
                          <a  onclick="functionPoP6()" class="btn"> פרטים </a>
                        </div>
                             <!-- popup box message-->
                        <div class="box" id="box6">
                         <p class="title"> מספר המשתתפים:10  <br>
                           מיקום השיעור: בן מתיתיהו 6 <br>
                           מספר מקומות פנויים: 4 <br>
                           זמן אחרון לביטול: 6 שעות לפני השיעור</p>
                           <a onclick="seriousnessAlert()"class="Registration">הרשמה</a>
                           <a onclick="functionPoP6()" class="close">סגירה</a>
                        </div>
              </td>
                <!-- Day 4-->
              <td class="day">
                <div class="date" id="date">ד'</div>

                 <!--lessons 1-->
                <div class="event"onmouseover="style.backgroundColor='lavender'" onmouseout="style.backgroundColor=' #e4f2f2'">
                    <div class="event-desc">
                     יוגה למתחילים
                    </div>
                    <div class="event-time">
                      7:00pm to 7:00pm
                    </div>

                     <!--jump box -->
                     <a  onclick="functionPoP7()" class="btn"> פרטים </a>
                    </div>
                         <!-- popup box message-->
                    <div class="box" id="box7">
                     <p class="title"> מספר המשתתפים:10  <br>
                       מיקום השיעור: בן מתיתיהו 6 <br>
                       מספר מקומות פנויים: 5 <br>
                       זמן אחרון לביטול: 6 שעות לפני השיעור</p>
                       <a onclick="seriousnessAlert()"class="Registration">הרשמה</a>
                       <a onclick="functionPoP7()" class="close">סגירה</a>

                      </div>

                     <!--lessons 2-->
                    <div class="event" onmouseover="style.backgroundColor='lavender'" onmouseout="style.backgroundColor=' #e4f2f2'" >
                      <div class="event-desc">
                      יוגה למתקמים
                      </div>
                      <div class="event-time">
                        7:00pm to 8:00pm
                      </div>

                        <!--jump box -->
                        <a  onclick="functionPoP8()" class="btn"> פרטים </a>
                      </div>
                           <!-- popup box message-->
                      <div class="box" id="box8">
                       <p class="title"> מספר המשתתפים:10  <br>
                         מיקום השיעור: בן מתיתיהו 6 <br>
                         מספר מקומות פנויים: 7 <br>
                         זמן אחרון לביטול: 6 שעות לפני השיעור</p>
                         <a onclick="seriousnessAlert()"class="Registration">הרשמה</a>
                         <a onclick="functionPoP8()" class="close">סגירה</a>
                      </div>
              </td>
                <!-- Day 3-->
              <td class="day">
                <div class="date" id="date">ג'</div>

                 <!--lessons 1-->
                <div class="event"onmouseover="style.backgroundColor='lavender'" onmouseout="style.backgroundColor=' #e4f2f2'">
                  <div class="event-desc">שיעור פרטי </div>

                  <div class="event-time">
                    6:00pm to 7:30pm
                  </div>

                    <!--jump box -->
                    <a  onclick="functionPoP9()" class="btn"> פרטים </a>
                  </div>
                       <!-- popup box message-->
                  <div class="box" id="box9">
                   <p class="title"> מספר המשתתפים:10  <br>
                     מיקום השיעור: בן מתיתיהו 6 <br>
                     מספר מקומות פנויים: 1 <br>
                     זמן אחרון לביטול: 6 שעות לפני השיעור</p>
                     <a onclick="seriousnessAlert()"class="Registration">הרשמה</a>
                     <a onclick="functionPoP9()" class="close">סגירה</a>
                </div>
                 <!--lessons 2-->
                <div class="event" onmouseover="style.backgroundColor='lavender'" onmouseout="style.backgroundColor=' #e4f2f2'" >
                  <div class="event-desc">
                  יוגה למתקמים
                  </div>
                  <div class="event-time">
                    7:00pm to 8:00pm
                  </div>

                    <!--jump box -->
                    <a  onclick="functionPoP10()" class="btn"> פרטים </a>
                  </div>
                       <!-- popup box message-->
                  <div class="box" id="box10">
                   <p class="title"> מספר המשתתפים:10  <br>
                     מיקום השיעור: בן מתיתיהו 6 <br>
                     מספר מקומות פנויים: 4 <br>
                     זמן אחרון לביטול: 6 שעות לפני השיעור</p>
                     <a onclick="seriousnessAlert()"class="Registration">הרשמה</a>
                     <a onclick="functionPoP10()" class="close">סגירה</a>
                  </div>
                   <!--lessons 3-->
                <div class="event" onmouseover="style.backgroundColor='lavender'" onmouseout="style.backgroundColor=' #e4f2f2'" >
                  <div class="event-desc">
                  יוגה למתקמים
                  </div>
                  <div class="event-time">
                    8:00pm to 9:00pm
                  </div>

                    <!--jump box -->
                    <a  onclick="functionPoP11()" class="btn"> פרטים </a>
                  </div>
                       <!-- popup box message-->
                  <div class="box" id="box11">
                   <p class="title"> מספר המשתתפים:10  <br>
                     מיקום השיעור: בן מתיתיהו 6 <br>
                     מספר מקומות פנויים: 3 <br>
                     זמן אחרון לביטול: 6 שעות לפני השיעור</p>
                     <a onclick="seriousnessAlert()"class="Registration">הרשמה</a>
                     <a onclick="functionPoP11()" class="close">סגירה</a>
                  </div>
              </td>
                <!-- Day 2-->
              <td class="day">
                <div class="date" id="date">ב'</div>

                 <!--lessons 1-->
                <div class="event"onmouseover="style.backgroundColor='lavender'" onmouseout="style.backgroundColor=' #e4f2f2'">
                    <div class="event-desc">
                     יוגה למתחילים
                    </div>
                    <div class="event-time">
                      9:00pm to 10:00pm
                    </div>
                    <!--jump box -->
                    <a  onclick="functionPoP12()" class="btn"> פרטים </a>
                  </div>
                       <!-- popup box message-->
                  <div class="box" id="box12">
                   <p class="title"> מספר המשתתפים:10  <br>
                     מיקום השיעור: בן מתיתיהו 6 <br>
                     מספר מקומות פנויים: 0 <br>
                     זמן אחרון לביטול: 6 שעות לפני השיעור</p>
                     <a onclick="seriousnessAlert()"class="Registration">הרשמה</a>
                     <a onclick="functionPoP12()" class="close">סגירה</a>
                    </div>
              </td>
                <!-- Day 1-->
              <td class="day">
                <div class="date" id="date">א'</div>

                 <!--lessons 1-->
                <div class="event"onmouseover="style.backgroundColor='lavender'" onmouseout="style.backgroundColor=' #e4f2f2'">
                    <div class="event-desc">
                     יוגה למתחילים
                    </div>
                    <div class="event-time">
                      7:00pm to 7:00pm
                    </div>

                      <!--jump box -->
                      <a  onclick="functionPoP13()" class="btn"> פרטים </a>
                    </div>
                         <!-- popup box message-->
                    <div class="box" id="box13">
                     <p class="title"> מספר המשתתפים:10  <br>
                       מיקום השיעור: בן מתיתיהו 6 <br>
                       מספר מקומות פנויים: 8 <br>
                       זמן אחרון לביטול: 6 שעות לפני השיעור</p>
                       <a onclick="seriousnessAlert()"class="Registration">הרשמה</a>
                       <a onclick="functionPoP13()" class="close">סגירה</a>
                    </div>
                        <!--lessons 2-->
                <div class="event"onmouseover="style.backgroundColor='lavender'" onmouseout="style.backgroundColor=' #e4f2f2'">
                  <div class="event-desc">
                   יוגה למתקדמים
                  </div>
                  <div class="event-time">
                    7:00pm to 7:00pm
                  </div>
                   <!--jump box -->
                   <a  onclick="functionPoP14()" class="btn"> פרטים </a>
                  </div>
                       <!-- popup box message-->
                  <div class="box" id="box14">
                   <p class="title"> מספר המשתתפים:10  <br>
                     מיקום השיעור: בן מתיתיהו 6 <br>
                     מספר מקומות פנויים: 6 <br>
                     זמן אחרון לביטול: 6 שעות לפני השיעור</p>
                     <a onclick="seriousnessAlert()"class="Registration">הרשמה</a>
                     <a onclick="functionPoP14()" class="close">סגירה</a>
                  </div>
              </td>
            </tr>
            <tr>
          </table>

          </div>
{% endblock %}

{% block page_body_js%}
]     <script src="{{url_for('Exercises.static',filename= 'js/Exercises.js')}}"></script>

    <!--script for Registration in apopup message -->
<script>


  </script>

  <!--script for table dates--------------->

  <script>
    function myFunction() {
      var month = new Array();
      month[0] = "ינואר";
      month[1] = "פברואר";
      month[2] = "מרץ";
      month[3] = "אפריל";
      month[4] = "מאי";
      month[5] = "יוני";
      month[6] = "יולי";
      month[7] = "אוגוסט";
      month[8] = "ספטמבר";
      month[9] = "אוקטובר";
      month[10] = "נובמבר";
      month[11] = "דצמבר";

      var d = new Date();
      var n = month[d.getMonth()];
      document.getElementById("tb_title").innerHTML = n  ;
    }
    </script>


{% endblock %}