<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/Exercises.css') }}">

    <meta charsey="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="yogaWorld/Asana.html"></script>
    <!---------------script---------------->
    <script src="https://kit.fontawesome.com/6850819008.js" crossorigin="anonymous"></script>
    <script src="static/js/main.js"></script>
    <!------script-->
    <title>הרשמה לשיעור</title>
    <script>
        function seriousnessAlert() {
            alert("בזה הרגע ביצעת רישום לשיעור :) \nסימן שהתחייבת \nהמחויבות הזו היא קודם כל כלפיי עצמך \nואחר כך גם מולי \nבמידה ואתה מעוניין לבטל את השיעור ללא עלות, עלייך לבצע זאת עד 6 שעות לפני שעת תחילת התרגול");
            document.getElementsByTagName("form")[0].submit();
        }
    </script>
</head>
<body style="text-align: center">
{% if(message)!="" %}
<h1 style="color:red;">{{ message }}</h1>
{% endif %}
<div class="confirmation">
    אתה עומד לקבוע שיעור עבור :
    <div class="exercise">
        {% for selectedExercise in exercises %}
            in for
            שם השיעור:  {{ selectedExercise.name }} <br/>
             כתובת השיעור: {{ selectedExercise.address }} <br/>
            זמן השיעור: {{ selectedExercise.fromTime  }} to {{ selectedExercise.toTime }}<br/>
            <form action="/SignToExercise" method="post">
                <input type="hidden" name="exerciseID" value="{{ selectedExercise.exercisesID }}">
                <a onclick="seriousnessAlert()" class="Registration">הרשם</a>
            </form>
        {% endfor %}

    </div>
</div>
</body>
</html>
