{% extends 'base.html' %}
{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('Gallery.static',filename='css/Gallery.css') }}">
{% endblock %}

{% block page_body_main_content %}
            <h1>גלריה</h1>
    <br>
    <br>
    <br>
    <p class="aligncenter">
       <img src="{{ url_for('Gallery.static', filename='photos/yoga22.jpg' )}}"   alt="Gallery_image_1" style="width: 550px;" >
    </p>

   <!--(1)-----Gallery Nav----->

    <div>
       <ul class ="side-items">
               <li><a href="#YouTubeVideos" > סרטוני יוגה</a></li>
               <li><a href="#PreviousLessons" > שיעורים קודמים</a></li>
               <li><a href="#Positions" > תנוחות</a></li>
               <li><a href="#LecturesAndPhilosophy" > הפילוסיפיה של היוגה</a></li>
       </ul>
   </div>

   <div id="Gcontainer" class="G-Container">

       <div id="YouTubeVideos" class="G-YouTubeVideos" >

           <h2 class="item--4">
               <br>
               <b>סרטוני יוגה</b>
           </h2>

           <figure class="item--1">
               <iframe width="300" height="200" src="https://www.youtube.com/embed/-O83fZKtdFc?mute=1"  frameborder="0" allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen    class="gallery__video"></iframe>
           </figure>
           <figure class="item--2">
               <iframe width="300" height="200" src="https://www.youtube.com/embed/m4OiJEgkcP0?mute=1" frameborder="0" allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen   class="gallery__video"></iframe>
           </figure>
           <figure class="item--3">
               <iframe width="300" height="200" src="https://www.youtube.com/embed/_0EHn-6TGcE?mute=1" frameborder="0" allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="gallery__video"></iframe>
           </figure>
       </div>




       <div id="PreviousLessons" class="G-PreviousLessons">

           <h2 class="gallery__item--4">
               <br>
               <b>שיעורים קודמים</b>
           </h2>

           <figure class="gallery__item--1">
               <video  class="gallery__RVideo" controls =  "controls" >
                   <source src="{{ url_for('static', filename='photos/video1.mp4' )}}" type="video/mp4">
                   </video>
           </figure>
           <figure class="gallery__item--2">
               <video  class="gallery__RVideo"  controls =  "controls">
                   <source src="{{ url_for('static', filename='photos/video2.mp4' )}}" type="video/mp4">
                 </video>
           </figure>
           <figure class="gallery__item--3">
               <video  class="gallery__RVideo"  controls =  "controls">
                   <source src="{{ url_for('static', filename='photos/video3.mp4' )}}" type="video/mp4">
                 </video>
           </figure>
       </div>



       <div id="Positions" class="G-Positions">

           <h2><b>תנוחות יוגה</b></h2>

           <h2>  תנוחת Trikona Asana   </h2>
           <div class="position Trikona Asana">
               <div class="imges">
                  <img src="{{ url_for('Gallery.static', filename='photos/Trikona Asana.jpg' )}}" >
               </div>
               <div class="content">
                   <p>משמעות השם טריקונה, פרושו משולש. הצורה הבסיסית הראשונה המעניקה יציבות היא המשולש, לדוגמה, משתמשים בשלוש רגליים לחצובה, ובתקופות קדומות השתמשו במבנה של חצובה כדי לבשל מעל האש.
                    איכויות המשולש הן: עוצמה, יכולת לתמוך במשקל ולהתנגד ללחץ.
                     אנו צריכים לקלוט שלושה סוגי מאכלים:
                      עבור הגוף - דרך אוכל בריא ושתייה.
                     עבור הנפש - דרך הרגשות והאינטלקט.
                     עבור הרוח - דרך תפילות, מדיטציה.
                   </p>
               </div>
           </div>

           <h2>תנוחת Bhujanga Asana </h2>
           <div class="position Bhujanga Asana">
               <div class="imges">
                   <img src="{{ url_for('Gallery.static', filename='photos/Bhujanga Asana.jfif' )}}" >
               </div>
               <div class="content">
                  <p>משמעות השם Bhujanga פירושו נחש קוברה. השם הוענק לאסאנה זו בשל דמיונה לתנוחת נחש הקוברה הזוקף את ראשו.

                   תאור המתרחש במהלך התנוחה
                  החלק התחתון של הגוף מונח על הרצפה, חלקו העליון, מהטבור ומעלה, מורם באוויר ומוחזק בעיקר על ידי שרירי הגב. הלחץ על חלל הבטן מוגבר ושני שרירי הבטן הישרים נמתחים. כל חוליה, כל גיד וכל מיתר נמתחים ונאלצים לעבוד. בשעת התרגול נסחט הדם מתוך הכליות וברגע שהגוף חוזר למצבו הקודם זורם דם בעוצמה אל הכליות ושוטף את כל המשקעים. הכליות מקבלות אספקת דם בשפע ומחדשות נעוריהן.
                   אי אפשר לחשוב על הגוף ובמיוחד על הגב מבלי להתייחס לבלוטות יותרת הכליה שהן המייצרות האמיתיות של הקורטיזול, הגורם לפירוק מוגבר של גליקוגן בכבד ובשל כך לעליית הגלוקוז בדם.
                  פעילות יתר (תסמונת קושינג) של הבלוטות גורמת להצטברות שומנים, חולשת שרירים ועוד, תת פעילות (מחלת אדיסון גורמת לירידת לחץ דם, ירידת חום הגוף, התייבשות.

                  </p>
               </div>
            </div>

           <h2>תנוחת Mayura Asana </h2>
           <div class="position Mayura Asana">
               <div class="imges">
                   <img src="{{ url_for('Gallery.static', filename='photos/Mayura Asana.jpg' )}}" >
               </div>
               <div class="content">
                   <p>משמעות השם "מאיורה" פירושו טווס.

                    תיאור התרגיל
                    שב על העקבים ברכיים בפיסוק.
                    הנח כפות ידיים על הרצפה כשהן מופנות לאחור.
                    הצמד מרפקים והישען עליהם עם הבטן.
                    ישר רגליים לאחור, הנח מצח וכפות רגליים על הרצפה.
                    הרם רגליים ישרות.
                    הרם גם את הראש, הישאר בשיווי משקל.
                    מומלץ לגברים בלבד, אצל נשים מפעילה האסנה לחץ גדול מדיי על אזור הרחם
                    נשימה עמוקה כנגד הלחץ של המרפקים.
                    ריכוז בבטן

                    השפעות התנוחה
                    האסנה ממריצה את פעילות המעיים והאיברים הפנימיים, מסלקת עצירות, משפיעה לטובה על הלבלב.

                    מגבלות בביצוע התנוחה
                    רגישות במפרק כף היד, באיברים הפנימיים, כאבי בטן, לחץ דם גבוה, בעיות לב.

                   </p>

               </div>
           </div>


            <h2>תנוחת Pastimutan Asana </h2>
           <div class="position Pastimutan Asana">
               <div class="imges">
                   <img src="{{ url_for('Gallery.static', filename='photos/Pastimutan Asana.jpg' )}}" >
               </div>
               <div class="content">
                   <p>פירוש השם Paschima, פירושו: מערב. ההתייחסות היא לכל החלק האחורי של הגוף, מהראש ועד לעקבים. החלק הקדמי של הגוף מייצג את כיוון מזרח, הקודקוד את הצפון, וכפות הרגליים את הדרום. היוגים מכנים אותו גם "מקור כוח החיות".
                   באסאנה זו נמתח כל החלק האחורי של הגוף ולכן ניתן לה שמה. בהאתה יוגה פרדיפיקה מצויין כי אסאנה זו גורמת לפראנה לזרום דרך הסושומנה.
                   אסאנה זו נקראת גם Brahmacharyasana והכוונה היא לפיתוח השליטה על התאווה המינית.
                   תרגיל זה נקרא Agrobhati-Vayu, כלומר, הרוח הזורמת רק בחלק הקדמי של הגוף מתחילה לזרום גם בחלק האחורי של הגוף. יש לטהר את הרוח על ידי תנוחת הפיתול. תנוחה זו מטהרת את ה"קנה" של עמוד השדרה. אסאנה זו הכרחית לניקוי ראשוני עבור ההיבטים הרוחניים. (שיבוג’י, 96’).
                   </p>
               </div>
            </div>


           <h2>תנוחת Matsya Asana</h2>
           <div class="position Matsya Asana">
               <div class="imges">
                   <img src="{{ url_for('Gallery.static', filename='photos/Matsya Asana.jpg' )}}" >
               </div>
               <div class="content">
                   <p>משמעות השם "מאטסיה" פרושו דג.

                   תיאור התרגיל
                   שכב על הגב, והעמד רגל ימין. שאף, דחוף עם כף רגל ימין את הרצפה, גלגל אגן שמאלה והכנס את יד ימין מתחת לישבן ימין. נשוף, ישר רגל ימין. בצע אותו הדבר לצד שני.
                   בשאיפה עמוקה הקשת את הגב, הבלט את בית החזה והישען על המרפקים והקודקוד.
                   ריכוז בלוטת התריס
                   נשימה עמוקה, בעיקר לבית החזה.
                   </p>
               </div>
           </div>
       </div>



       <div id="LecturesAndPhilosophy" class="G-LecturesAndPhilosophy">

          <h2><b>הפילוסיפיה של היוגה</b></h2>

          <h1> יושלם בהמשך</h1>
          <br>
          <br>
          <br>
       </div>
   </div>
       <br>
       <br>
{% endblock %}


