<!DOCTYPE html>
<html>
<head>
    <meta charsey="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('Aboutme.static',filename='css/AboutMecss.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">


    <title> קצת עלי </title>
</head>
<body>
<Header>     {% include 'Header.html' %} </Header>


<h1> קצת עליי</h1>
<div class="asana up">
    <div class="imges">
        <img  src="{{ url_for('AboutMe.static',filename='/photos/aboutmee.jpg') }}">


    </div>
    <div class="content">
        <p> הדר קבלי, היא מורה ליוגה, מעבירה שיעורי האתה ויניאסה, שממבט ראשון מבינים עד כמה היא מחוברת ומרגישה שייכת
            לעולם הזה"<br>
            הכרותה של הדר עם עולם היוגה והמדיטציה כבר מאז היותה ילדה קטנה<br>
            אך לפני תקופה היא החליטה לקחת את עצמה בידיים ולעשות מעשה, להפוך להיות מורה מקצועית ליוגה<br>
            הדר ביצעה קורס מדריכי יוגה בתאילנד "שם הקורס" ומאז עברה תכנים וסדנאות כדי להעמיק ולהעשיר את הידע שלה
            בנושא<br>
            בין הדברים, ביצעה הדר סדנת ויפאסנה וכל זה בכדי להצליח ולהעניק למתרגלים שלה חוויה עמוקה ושלמה במהלך
            התרגול<br>
            הדר לא נוטה להעיד על עצמה והראות עד כמה היא טובה, אך בזמן הקצר יחסית שהיא מורה ליוגה, היא בנתה לעצמה מערך
            שיעורים גדול<br>
            עם קהל יעד רחב ומגוון ובעיקר מתרגלים שמתמידים באופן קבוע כאשר נתח לא מבוטל מהם התחיל לתרגל אצלה בשיעורים<br>
            "התפיסה של הדר, השוני והמסירות שבה היא עושה את הדברים גורמים למתרגלים השונים להגיע לתרגולים עם מסירות
            אחרת<br>
            כך נאמר עפ"י אחת המתרגלות הותיקות של הדר קבלי - זיו בך

        </p>

    </div>
</div>

<div class="sentence">
    <p id="quote">
        Be a lamp to yourself. Be your own confidence.<br>
        Hold on to the truth within yourself as to the only truth.<br>
    </p>

    <p id="writer">-Buddha<br>
    </p>


    <img id="big" src="{{ url_for('AboutMe.static',filename='/photos/aboutme2.jpg') }}">
</div>


<div class="asana down">

    <div class="content2">
        <p>
            אני לא יודע יוגה"<br>
            לא טובה במדיטציות<br>
            אני לא גמישה<br>
            אין לי סבלנות אני אוהבת אירובי<br>
            קשה לי עם כל הרוחניות<br>
            אני מפחד ומתביישת לבוא לתרגול ולהיות המתחיל היחיד<br>
            ?בשנה האחרונה קיבלתי המון תגובות כאלו ולמזלי הצלחתי לשכנע הרבה מתחילים רק לנסות, פעם אחת , מה כבר יכול להיות
            כל כך גרוע<br>
            .ותראו אותם היום, אותם לא גמישים, ביישנים, מתחילים, בשנה האחרונה עלו שוב ושוב על המזרן ומצאו עצמם צוללים
            עמוק בעולם הזה , חוזרים מתמידים , מצליחים בדרכם, מצאו את השקט בעצמם שכל כך פחדו שלא יהיה<br>
            .אנשים רגילים , כמוכם, גם לא גמישים וגם לא ניסו אף פעם<br>
            .כל היופי ביוגה , זה שאין דבר כזה להיות טוב ביוגה, הגוף שלנו שונה, הנפש שלנו שונה, הגמישות היא בעיקר בראש
            ואפשר לתרגל למצוא אותה גם אצלך<br>
            .התרגול מאפשר לפתוח את הראש ולשחרר הרגלים, לשחרר דפוסי חשיבה ותפיסה עצמית וכמובן שמבחינה פיזית תצליחו להרגיש
            את התגובה של הנפש שלכם אחרי כל תרגול, במחשבות ובהוויה שלכם<br>
            .נוכל להניע ולהזיז את הגוף כדי ליצור הרמוניה ואהבה פנימית! לנוע בתנועה נכונה שפותחת את זרמי האנרגיה הפנימיים
            שלנו. להרגיש מחדש תחושות ורגשות שאנחנו לא נותנים להם מקום, להרגיש איך "ענן הערפל" מתפזר ואנחנו חושבים
            בבהירות יותר
            אין להיות טוב ביוגה, יש לנסות לעלות על המזרן פעם אחרי פעם, להתבונן ולהתרכז מה קורה אצלי, לגלות חמלה בכך שלא
            אכאיב לעצמי, להיות קשוב למצב הגוף וההכרה שלי באותו רגע ולא לדחוף את עצמי יותר מדי.
            .ומפעם לפעם , תראו איך התנועה משתנה, איך הריכוז משתפר ולא רק תוך כדי תרגול<br>
            .בואו להיות עם עצמכם, בעיקר, בתרגול מרגש שיפתח לכם את הלב למשהו חדש, מפתיע ומפתח.. אפשרו לעצמכם לגלות<br>
            .מוזמנים להצטרף לתרגולים אצלי בגג בשכונה ו ' הישנה, אווירה אינטימית ואישית בסגנון האתה ויניאסה יוגה המשלב
            מדיטציה ותנועה מודעת<br>
            .בנוסף, אם אתם מחפשים להעמיק בתרגול האישי שלכם, מעוניניים לקבל הנחיה אישית ומותאמת , אני מעבירה גם תרגולים
            פרטיים - בהתאמה למתרגל ולצרכים שלו<br>
            "❤ תודה על הקריאה
        </p>
    </div>
</div>

<Footer>                {% include 'Footer.html' %}        </Footer>
</body>

</html>