{% extends 'base.html' %}
{% block page_head_css %}
     <link rel="stylesheet" href="{{ url_for('Asana.static',filename='css/asana.css') }}">
{% endblock %}

{% block page_body_main_content %}
      <h1> אסנה </h1>
        <div class="asana up">
            <div class="imges">
                <img src="{{ url_for('Asana.static', filename='photos/2.jpg' )}}">
            </div>
            <div class="content">
                <p>אסנה היא התנוחה היוגית. על פי הטקסטים ההאטה יוגיים האסנה נחשבת לשלב הראשון בדרך היוגית. בדרך כלל, מתייחסים אל כל מנח המתורגל בשיעור יוגה כאסנה.

                </p>
                <p>
                    על פי פטאנג'לי (Patanjali), הנחשב אבי היוגה, מגדיר אסנה כ-"מה שיציב ונינוח" או כ-"מה שמאפשר להיות יציבים במצב של נינוחות מתמשכת".
                     האסנה על פי דרכו, היא זו שהרפיית מאמץ מתאפשרת בה, תחושה של התלכדות עם האינסוף נוצרת בה,
                    או עמעום חויית הנפרדות שלנו המגדירה את האני. היוגי המושלם באסנה על פי פטאנג'לי הוא זה המתעלה מעל צמדי הניגודים.
                    </p>
                <p>
                    היוגים למדו אסאנות כדי להגיע למצב שבו ההכרה והחושים שקטים ומכונסים כך שהאמת שנמצאת בפנים יכולה להתגלות.
                </p>

                <p>
                    האסנה היא אחד הכלים החזקים והבסיסיים שבאמצעותם ניתן לחוות שינוי עמוק בכל רובד בהוויה שלנו.
    היא משחררת ממכאובים ומרפאה.
     כאשר היא מבוצעת במודעות ובקשב, בנשימה מלאה, היא מפרקת מועקות נפשיות ומחסומים מנטליים. היא יוצרת רווחה ותחושת נועם ושלווה.
    היא מהווה הזדמנות לחקירת האני ואימון התודעה להיות בנוכחות וריכוז בהווה. היא מסייעת בפיתוח הבחנה מבדלת וראיה מעודנת וצלולה יותר.

                </p>

            </div>
                </div>

             <div class="asana down">

                <div class="content" style="flex: 5; max-width: 2000px;">
                    <h2>תכלית תרגול האסנות</h2>

                <h4> סילוק מחלות </h4>
                <p>
                    לאסאנות יש כוח ריפוי והן משמשות כעין רפואה מונעת. מחלה היא המכשול הראשון בדרך רוחנית ובחיים בכלל.
                    תנוחות היוגה נעשות לאט וללא מאמץ. התנוחות משפיעות לטובה על:
                    1. מחזור הדם.
                    2. בלוטות הפרשה פנימיות.
                    3.  איברים פנימיים.
                    מטרת התנוחות היא להגביר את מחזור הדם הדואג להעברת המזון מאברי העיכול אל הרקמות. מחמת התנועות והפיתול של הפרקים השונים נמשכים ונמתחים גם כלי הדם והדם מתחלק באופן שווה לכל חלק של הגוף. כמו כן מכוונים את זרימת הדם גם בעזרת כוח הכובד כמו בעמידת נר למשל.
                    היוגים כבר ידעו לפני הרבה שנים על חשיבותם של בלוטות ההפרשה הפנימיות (צבר של תאים המפרישות הורמונים, שליחים ישירות לדם) והמליצו על תרגילים עבורם. תנוחות היוגה משפיעות על בלוטות ההפרשה וישנם תרגילים לחיזוק הבלוטות השונות.
                    ההורמונים משפיעים בשלושה תחומים: שמירה על יציבות הסביבה הפנימית, ויסות ההתפתחות והגדילה, ויסות פעילותם של מערכת העצבים המרכזית והאוטונומית והשפעה על דפוסי התנהגות מיוחדים.
                </p>
                <h4>סילוק כבדות מהגוף</h4>
                <p>
                    אחרי תרגול אסאנות הגוף מרגיש קל. גוף כבד מרגיש עצל והוא חסר חיוניות.
                </p>

                <h4>השקטת הגוף</h4>
                <p>
                    היוגים ידעו שיש קשר הדוק בין הגוף וההכרה. אחד הדברים שמפזרים את ההכרה הוא חוסר שקט גופני. אם מצליחים להשתלט על הגוף אזי משפיעים על ההכרה.
                </p>

                <h4>שחרור חסימות אנרגטיות</h4>

                <p>
                    האסאנות פותחות חסימות שדרכן זורמת אנרגיית החיים.
                    <br>
                    היוגים אינם מתייחסים אל הגוף רק בהיבט הפיסי. לפי השיטה היוגית קיימים גם גופים מעודנים יותר, כפי שמוסבר בפרק על מבנה האדם.   בתוך הגוף האסטראלי קיימים מסלולי אנרגיה בדומה לכלי הדם הפרושים בגוף הפיסי. כדי שהאדם יהיה בריא חייבת האנרגיה לזרום דרך אפיקים אלה (Suwarpananda, 1982 ). לפי השיטה היוגית קיימים 72,000 נאדים או מסלולי אנרגיה. מתוך מספר עצום זה של נאדים קיימים 14 מסלולים עיקריים. שלושה מסלולים ראשיים הידועים בשמותיהם אידה (השמאלי, ירח), פינגלה (הימני, שמש). ושושומנה (המרכזי, האש).  היוגים למדו להפעיל את הנאדים בעזרת ארבעה סוגי תרגולים.
                </p>

                <h4>שמירה על גמישות</h4>
                <p>
                    בתנוחות היוגה אנו שומרים על גמישות הגוף בעזרת תרגילים המותחים את השרירים השונים בכיוונים שונים. התרגילים העיקריים ביוגה מגמישים את כל הגוף, כשהדגש הוא על עמוד השדרה. גמישות השרירים ממלאת תפקיד חשוב בשמירה על נעורי הגוף ורבים ממתרגלי היוגה שומרים על גוף גמיש גם בגילאים מבוגרים מאוד.
                <br>
                האסאנות בשיעורים לחינוך המיוחד מבוססות על האסאנות הקלאסיות של היוגה, אך ניתנות בווריאציות המתאימות לרמות שונות של מוגבלות.

                </p>



                <h2>מקורות </h2>
                <p>ס. סוורפננדה (1997). <br>
                    אור על יוגה ,ב.ק.ס. איינגאר.<br>
                    יוגה ובריאות, ס. ייסודיאן, א. הייך.

                    </p>
            </div>

                </div>

{% endblock %}

