
.Box {
    width: 300px;
    padding: 20px;
    margin: 2% auto;
    text-align: center;
    border-radius: 50%;
    font-family: 'Alef', sans-serif;
    letter-spacing: 1px;


}

/*input box to contact*/
.input-box {
    font-family: 'Alef', sans-serif;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #999;

}

/*bouda img*/
.img {
    right: 100px;
    width: 80%;
    height: 80%;
}

.input-message {
    font-family: 'Alef', sans-serif;
    height: 50px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #999;

}

/*btn to send the contact message*/
.btn {
    width: 30px;
    background: rgb(152, 200, 204);
    color: white;
    padding: 10px 10px;
    display: flex;
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
    margin: 8% auto;

}

