<!DOCTYPE html>
<html>
    <head>  
          <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
            <meta charsey="UTF-8">
            <meta name="viewport" content="width=device-width,initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!---------------script---------------->
        <script src="https://kit.fontawesome.com/6850819008.js" crossorigin="anonymous"></script>
        <script src="static/js/main.js"></script>
        <!------script-->
        <title>יוגה אצל הדר</title>
    </head>
    <body onload="Header() , Footer()"> 
        <Header></Header>
<p>להכניס פה את כל התוכן של הדף , אם הדף מתחבר לקובץ 
    CSS 
    תוסיפו למעלה אחרי הסטייל הראשון
</p>
        <Footer></Footer>
     </body>

</html>