<!DOCTYPE html>
<html>
    <head>  
          <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css' )}}" >
          <link rel="stylesheet" href="{{ url_for('static', filename='css/asana.css' )}}">

            <meta charsey="UTF-8">
            <meta name="viewport" content="width=device-width,initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!---------------script---------------->
        <script src="https://kit.fontawesome.com/6850819008.js" crossorigin="anonymous"></script>
        <script src="statuc/js/main.js"></script>
        <!------script-->
        <title>יוגה</title>
    </head>
<body>
<Header>     {% include 'Header.html' %} </Header>

        <h1> מה היא יוגה ?</h1>
        <div class="asana up">

            <div class="content" style="flex: 5; max-width: 2000px;">
                <p>היוגה היא מסורת עתיקה שמקורה בהודו, הכוללת שיטות וטכניקות מגוונות המובילות את המתרגל למצב רוחני נעלה.
                    רבים הם הנתיבים היוגיים. מן המוכרים והידועים הם קארמה יוגה, בהקטי יוגה, מנטרה יוגה, האתה יוגה וראג'ה יוגה.
                    הנתיב הנלמד בסטודיו הוא האתה יוגה. רוב שיטות היוגה שאומצו במערב הן נגזרות של ההאתה יוגה.
                    </p>
                    <p>
                        היוגה היא רתימה או ריסון של התודעה, הרתימה היא עצירה או הפסקה של תנודות מעגליות , חוזרות ונשנות , תגובתיות של התודעה. ולאחר הדממת תנודות התודעה מתאפשרת עבור המתבונן שהייה במצבו שלו, במצבו הטבעי.<br>
המתבונן בשפת היוגה סוטרה מדבר על העצמאיות שלנו, הנצחי הלא משתנה והלא מוגדר. העצמי שלא מותנה בגוף במחשבות, ברגשות, בדעות ,באידיאולוגיה ובמעשים בעולם, העצמי היציב קבוע והלא משתנה. מה שקיים בעולם ללא תלות בהכרה , במאפיינים חיצוניים.<br>
בספרות קוראים למתבונן במספר שמות כמו אטמן, פורושה או דרשטרי.
                    </p>
                    <p>ההאחזות בתנודות התודעה גורמת לאדם לסבל. מטרת היוגה היא לשחרר את האדם מהסבל , להצליח לראות את העולם באופן שבו המציאות באמת – ולא דרך הפילטרים שלו. ( מחשבות , דעות, עבר וכדומה )
                        <br>

במקום שנהיה עסוקים באמונות לגבי מי אנחנו, היוגה מזמינה אותנו לראות את הפוטנציאל האינסופי שטמון בבחירה של מי אנחנו רוצים להיות, בין אם זוהי חתירה לקראת אידיאל, או פשוט הרצון להצליח להתמסר בשלמות לכל רגע נתון..

                    </p>
                    <p>
    מה זה תנודות התודעה? התודעה שלנו במצב הראשוני שלה, מופעלת החוצה, על ידי החושים שלנו. אנחנו קולטים בעזרת החושים שלנו ומפענחים את המציאות בהתאם אל ההכרה והחשיבה שלי.  <br>
עם תרגול היוגה אנחנו לומדים איך לאזן את התודעה ולהשקיט אותה. לשנות את כיוון התודעה מבפנים לבחוץ חזרה אל הבפנים. אל מה שקורה אצלי. <br>
התנהגות האדם היא לפי תשוקה פעולה ופרי, כך שהתשוקה גורמת לנו לעשות משהו מסוים והתוצאה של הפעולה שלנו היא הפרי. <br>
הפעולה שלנו יכולה להיות לא מודעת ואף אוטומטית במידה ואנחנו לא מתרגלים את ההכרה, כך שיכול להיות שתגיע חרטה לאחר ביצוע הפעולה או לאחר קבלת תוצאה לא מותאמת לציפיה. <br>
בתרגול היוגה אנחנו מרווחים את הזמן בין התשוקה אל ביצוע הפעולה, בעזרת תשומת הלב אל תנודות התודעה שעולות במהלך התרגול. <br>
יש לנו אפשרות לגשת אל העולם ואל עצמנו בדרך פחות תגובתית ,לתת לנו את האפשרות לבחור בפעולות שלנו ולא לפעול באופן אוטומטי. הדוגמא הכי טובה לכך היא דיגדוג או גירוד, באופן אוטומטי היד נשלחת לגרד אך לא בהכרח תהיה מחשבה לפני הגירוד. <br>
העבודה עם תנודות התודעה היא הדרגתית, תחילה מתחילים בריכוז בנשימה במדיטציה. נשים לב שגם כאשר אנחנו מתרכזים רק בנשימה – יעלו לנו תגובות על איך שאני נושם. הנשימה שלי שטחית , עמוקה , אני נושם טוב או לא טוב. <br>
היוגה לא תעזור לנו להשקיט לגמרי את תנודות התודעה , אלה תעזור לנו לחיות בשלום עם התגובות האלו – להצליח להתבונן ולזהות אותן לפני שאנחנו פועלים.
זוהי עבודה ותרגול גם על המזרן וגם מחוצה לו. עצם החשיבה סביב תנודות התודעה מארגן את התודעה באופן אוטומטי. <br>

</p>

            </div>
                </div>

             <div class="asana down">

            <div class="content" style="flex: 3;">

                <h2>האתה יוגה</h2>
                <p>

תרגול האתה יוגה הוא זרם אחד מיני רבים של תרגולי היוגה. לצד תרגול האסנות, הוא משלב בתוכו תרגילי נשימה, תרגולים לטיהור הגוף וכן פיתוח מודעות למצב התודעה. <br> <br>
התרגום המילולי ל״האתה יוגה״ הוא חיבור ואיחוד בין אנרגיית השמש ואנרגיית הירח. <br>  משמעות המילה יוגה היא איחוד. לכן משמעות ה-‘האתה יוגה’ היא איחוד הרמוני בין היבט השמש בהוויתנו להיבט הירח. בין הצד הזכרי שבנו לבין הצד הנקבי הקיים בנו.  <br>
ההאתה יוגה מאפשרת את הקרקע הפורייה ביותר לגילוי של האמת, דרך תרגולי אסנות ,תרגולי פרנאימה ותרגילי נקיונות וטיהור פיזיים ומנטליים. <br>
תרגולים אלה מטרתם לעורר ולהניע פראנה בגוף, ולפתח מצב מנטלי של איזון ומודעות. על המזרון, תרגול האתה יוגה הוא למעשה, מדיטציה בתנועה. <br>
לרוב, תרגולי האתה יוגה יתאפיינו במעברים איטיים בין תנוחה לתנוחה, ובדגש על נשימה בזמן השהות באסנות. <br> לפי תרגול האתה יוגה, באמצעות גמישות פיזית נשמרת הגמישות המנטלית, והיכולת להבין תפיסות וזוויות שונות בחיים מתעצמת.

                </p>

            </div>
            <div class="imges">
                <img src="{{ url_for('static', filename='mandala/yoga.jpg' )}}" style="float: right;" >
            </div>
                </div>
    
<Footer>                {% include 'Footer.html' %}        </Footer>
     </body>

</html>