{% extends 'base.html' %}
{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('Home.static',filename='css/Home.css') }}">
{% endblock %}


{% block page_body_js%}
    <script src="https://kit.fontawesome.com/6850819008.js" crossorigin="anonymous"></script>
    <script>
    function welcomeAboardAlert() {
        {% if status=='success' %}
            alert("תודה על הרשמתך  :)\n מקווה שבקרוב  נתראה בתרגולים\n ");
        {% elif status=='no details'%}
            alert("אנא הוסף פרטים");
        {% elif status=='incorrect details'%}
            alert(" נראה שהפרטים שלך קיימים אצלנו,  אם קיימת תקלה פנה/י ליצירת קשר ");
        {% endif %}
    }
</script>

{% endblock %}




{% block page_body_main_content %}

    <body onload="welcomeAboardAlert()">
         <div class="welc">
    <p id="welcomP">
        <b>ברוכים הבאים מתרגלים יקרים, </b> <br> <br>
        בחרתי לפתח אתר בו תוכלו למצוא תכנים מעניינים ומחדשים על עולם היוגה והמדיטציה. <br>
        חשיפתי לעולם היוגה התחילה לפני כחמש שנים, בהם תרגלתי בעיקר באופן פיזי פעם פעמיים בשבוע ולעיתים רחוקות מדיטציה.
        <br>
        הייתי מרגישה את השינוי בגוף אחרי התרגול – אך לא ידעתי באמת להבחין מה בדיוק קורה,
        הרגשתי שלא היו לי מחשבות במשך שעה ושאני יוצאת רגועה, ופייר הספיק לי. <br>
        <br>

        לאחר כל השנים האלה , כשהתחלתי ללמוד על הצד הפילוסופי <br>

        הרגשתי שהיה חסר לי כל כך הרבה מידע רלוונטי שיכל להשפיע לי על התפיסה של התרגול ואף להכניס את התרגול באופן יום
        יומי ועצמאי. <br>
        <br> <br> נחשפתי לפילוסופיה של היוגה בשנת 2019 ,
        <br> הבנתי שהתרגול הפיזי משפיע בדרכו על הגוף הפיזי והמנטלי כאחד. <br> שהיוגה היא לא אימון גופני, אלא מסע רוחני
        ורגשי שניתן לעבוד יחד איתו על המשקעים הכי עמוקים שלנו.
        <br> מוזמנים ללמוד על העולם ולהתחיל את המסע הפנימי שלכם. <br>

        <br>
        <br>הדר קבלי


    </p>

</div>
<div>
    <div class="slideshow-container">

        <div class="mySlides fade">
            <img src="{{ url_for('Home.static', filename='photos/hadar2.jpeg' )}}" style="width:100%" >
        </div>

        <div class="mySlides fade">
            <img src="{{ url_for('Home.static', filename='photos/hadar1.jpg' )}}" style="width:100%">
        </div>

        <div class="mySlides fade" >
            <img src="{{ url_for('Home.static', filename='photos/hadar4.jpeg' )}}" style="width:100%">

        </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>

    <h1 id="welcome">" Yoga does not just change the way we see things <br> it transforms the person who sees."</h1>
        <h2 id="welcome">~ B.K.S Iyengar</h2>


        <div class="mandala">

            <a href="Asana">
                <img id="d1" src="{{ url_for('Home.static', filename='photos/2.jpg' )}}">
                <h2>אסנה</h2>
                </img>
            </a>
            <a href="Meditation">
                <img id="d" src="{{ url_for('Home.static', filename='photos/Pranyama.jpg' )}}">
                <h2>מדיטציה</h2>
            </a>
            <a href="Pranayama">
                <img id="d" src="{{ url_for('Home.static', filename='photos/1.jpg' )}}">
                <h2>פראנימה</h2>
            </a>
            <a href="Yoga">
                <img id="d" src="{{ url_for('Home.static', filename='photos/yoga.jpg' )}}">
                <h2>יוגה</h2>
            </a>


        </div>        </div>

    </body>
   <script src="{{url_for('Home.static',filename= 'js/slides.js')}}"></script>
        <script>            var slideIndex = 1;             showSlides(slideIndex);         </script>
{% endblock %}

