<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('Pranayama.static',filename='css/asana.css') }}">

            <meta charsey="UTF-8">
            <meta name="viewport" content="width=device-width,initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">


        <title> פראנימה </title>
    </head>
  <body>
<Header>     {% include 'Header.html' %} </Header>

        <h1>פראנימה</h1>
        <div class="asana up">
            <div class="content" style="flex: 5; max-width: 2000px;">
                <p> <b>
                                אחד ההיבטים המרכזיים והמוקדמים ביותר ביוגה הוא תרגול הנשימה.
                                תרגול הנשימה היוגית נקרא פראנאיאמה בסנסקריט, השפה ההודית העתיקה של הכתבים
                                היוגים. המילה מורכבת משתי הברות : prana ,ayama.
                            </b>
                              <br>
                                <br>
                                <b> פארנה</b> – היא מילה בסנסקריט עבור "כוח החיים" או אנרגיית החיים המנוע לתודעה והאנרגיה לחומר.. בפילוסופיה ההינדית , המונח מתייחס באופן קולקטיבי לכל האנרגיה הקוסמית הקיימת ביקום. אנו מקבלים פראנה באוויר שאנו נושמים ובמזון שאנו אוכלים ומשתמשים בפראנה בפעילויות פיזיות, רגשיות ובמאמץ שכלי, רוחני ונפשי. פראנה כולל גם אנרגיות של חפצים דוממים.
                                אדם בריא ופעיל תודות לפרנה שזורמת בו בשפע. כאשר אדם מת, עוזבת אותו הפראנה, ואז הגוף הפיזי מתפרק לגורמים.
                                לפיכך הפראנה היא לא רק כוח מניע, אלא כוח מלכד ומאחד את החלקים, התאים, האברים, המערכות לגוף אחד מוגדר ומתפקד.
                              <br>

                                <b> איאמה</b> – פירושו שליטה.
                                משתמע מכאן שתרגילי הנשימה נועדו לשלוט באנרגיית החיים או לכוון אותה.
                                <br> <br>

פיזיולוגית מטרת הפראניאמה היא לשפר את החמצון , את הטיהור ואת זרימת הדם. הנשימה מאפשרת חילוף גזים בין הדם לאוויר באזור הריאות . וחילוף גזים בין הדם לתאים בגוף. <br>מכאן : אם ננשום עמוק ולאט,נאפשר לחמצן להגיע לכל התאים בגוף. גם לאלה הרחוקים מהלב . כמו כן המערכת העצבית תוזן .
<Br>
    לפי היוגה יש יחס הדוק בין הנשימה לפרנה ולתנועה של ההכרה .לכן בזמן תרגול הנשימה, אנו משפיעים על רמת האנרגיה בגוף ועל אופן חלוקתה באזורים השונים של הגוף ועל מצב הנפש. הנשימה תזכך את ערוצי האנרגיה בגוף המתרגל באמצעות חום שהיא יוצרת ותביא לשינוי מהותי והשקטה של התודעה.
</p>
            </div>
                </div>

             <div class="asana down">

            <div class="content">
               <p>
                    רובנו לא מקדישים לתהליך הנשימה את תשומת לב הראויה. הנשימה היא הדבר הראשון
                    שאנו עושים בבואנו לעולם והיא הדבר האחרון המשחרר אותנו מהעולם. הנשימה היא אוטונוטמית וגם רצונית. <br>
                    יש באפשרותנו לשלוט בקצב הנשימה, על עומק הנשימה ואיכותה אך כאשר אנחנו מוותרים על השליטה הגוף לוקח פיקוד.  <br>
                    תהליך הנשימה נרכש ונלמד, לא לימדו אותנו איך לנשום כשהיינו קטנים לכן שינוי דרך הנשימה הוא תהליך מאתגר אך לגמרי משנה חיים.
                    <br>
                    <br>
                    תרגול פראנימה הוא תרגול של הנשימה, ישנן טכניקות מגוונות ביוגה לתרגול נשימה. מנשימה יוגית מלאה – נשימת בטן עמוקה, לנשימות עם עצירות בקצה השאיפה או הנשיפה – קומבקהה, נשימות מאיצות, נשימות חילופין – מנחיר אחד לסירוגין ועוד. לכל טכניקה ישנה השפעה שונה.
                     <br>המטרה הינה השגת שקט והשקטת ההכרה.
                    השליטה בהכרה אינה אפשרית ללא שליטה בפראנה, השתיים קשורות זו בזו.<br> כאשר ההכרה מושפעת ממחשבות ומרגשות שליליים, הנשימה בלתי יציבה ובלתי סדירה. כאשר אדם נימצא במדיטציה הנשימה תהייה איטית.
                    היוגי אשר התאמן בטכניקות של פראנימה, יכול להתחבר למקור האנרגיה האינסופי, להשתמש בו לצמיחה רוחנית ולהגיע לשלמות הגבוהה ביותר.

                      </p>
                                </div>
            <div class="imges">
                <img src="{{ url_for('Pranayama.static', filename='photos/1.jpg' )}}" style="float: right;">
            </div>
                </div>
            <div class="more">
                <h1>
                 דוגמאות לתרגילי נשימה 
                </h1>
                <div class="ex">
                <a href="https://yogabekatamon.co.il/%D7%90%D7%A0%D7%9C%D7%95%D7%9E%D7%94-%D7%91%D7%99%D7%9C%D7%95%D7%9E%D7%94/" target="_blank"> נאדי שודשנה</a>
                <a href="https://yogabekatamon.co.il/%D7%A0%D7%A9%D7%99%D7%9E%D7%AA-%D7%90%D7%95%D7%92%D7%90%D7%99-%D7%90%D7%99%D7%95%D7%95%D7%A9%D7%AA-%D7%94%D7%90%D7%95%D7%A7%D7%99%D7%99%D7%A0%D7%95%D7%A1/" target="_blank">נשימת אוג'אי </a>
                <a href="https://yogabekatamon.co.il/%D7%A7%D7%A4%D7%94%D7%90%D7%9C%D7%91%D7%98%D7%99-%D7%94%D7%91%D7%A8%D7%A7%D7%AA-%D7%94%D7%9E%D7%95%D7%97/" target="_blank">קפהאלבטי</a>
            </div>
            </div>    


<Footer>                {% include 'Footer.html' %}        </Footer>
     </body>

</html>