<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('Registration.static',filename='css/Registration.css') }}">
        <meta charset="UTF-8">
    </head>
<body>
 <div class="regform">רישום לאתר</div>
<div class="mainf">
  <form action="/Registration" method="post">
    <div class= "name">
      <h2>שם מלא</h2>
      <input class="FirstName" type="text" placeholder="שם פרטי" onfocus="contactFunction(this)" ><br>
      <input class="LastName" type="text" placeholder="שם משפחה" onfocus="contactFunction(this)"><br>
    </div>
    <h2>כתובת אימייל</h2>
    <input class="EmailAddress" type="text" required><br>
    
    <h2>מספר טלפון</h2>
    <input class="PhoneNumber" type="text" name="PhoneNumber" required>
    
    <h2>מגדר</h2>
    <div class="radiocen">
        <input type="radio" id="famale" name = "gender" value="famale">
        <label for="famale"> נקבה </label><br>
        <input type="radio" id="male" name = "gender" value="male">
        <label for="male"> זכר </label><br>
        <input type="radio" id="other" name = "gender" value="other">
        <label for="other"> אחר </label><br>
    </div>
  <h2>איך היית מגדיר את רמתך ביוגה?</h2>
  <select class="option" name="select">
  <option disabled="disabled" selected="selected">בחר את רמתך</option>
  <option value="neverPractice">פעם ראשונה שאני מתרגל יוגה</option>
  <option value="beginner">מתחיל</option>
  <option value="advanced">מתרגל באופן קבוע</option>
  </select>
  <div class="injuries">
  <h2>האם אתה סובל מפציעות?</h2>
  <select class="option" name="select">
    <option disabled="disabled" selected="selected">בחר את הפציעה ממנה אתה סובל</option>
    <option value="neverPractice">פציעות ברכיים</option>
   <option value="beginner">פציעת גב</option>
    <option value="advanced">אחר</option>
   </select>
  <br>
  <h2>במידה והינך סובל מפציעה, אנא פרט מהי פציעתך</h2>
  <br>
  <textarea class= "textBox" name="YourInjury" id="YourInjury" cols="50" rows="5"></textarea>
  </div>
  <h2>אם יש משהו נוסף שאתה מעוניין שאני אדע, זה המקום להוסיף אותו:</h2>
  <textarea class= "textBox" name="YourAddition" id="YourAdditionContant" cols="50" rows="10"></textarea>
  <br>
  <button type="submit" onclick="welcomeAboardAlert()">הירשם</button>
  </div>

<script>
function welcomeAboardAlert() {
  alert("תודה על הרשמתך וברוכה הבאה :)\n מקווה שבקרוב אראה אותך בתרגולים\n ומחכה בקוצר רוח להכירך");
}
</script>


</div> 
</div>

</form>

</body>
</html>
   