{% extends 'base.html' %}
{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('Home.static',filename='css/Home.css') }}">
{% endblock %}

{% block page_body_main_content %}
      
        <div class="mandala">

            <a href="Asana">
                <img id="d1" src="{{ url_for('Home.static', filename='photos/2.jpg' )}}">
                <h2>אסנה</h2>
                </img>
            </a>
            <a href="Meditation">
                <img id="d" src="{{ url_for('Home.static', filename='photos/Pranyama.jpg' )}}">
                <h2>מדיטציה</h2>
            </a>
            <a href="Pranayama">
                <img id="d" src="{{ url_for('Home.static', filename='photos/1.jpg' )}}">
                <h2>פראנימה</h2>
            </a>
            <a href="Yoga">
                <img id="d" src="{{ url_for('Home.static', filename='photos/yoga.jpg' )}}">
                <h2>יוגה</h2>
            </a>


        </div>        </div>

{% endblock %}

{% block page_body_js%}
    <script src="https://kit.fontawesome.com/6850819008.js" crossorigin="anonymous"></script>

{% endblock %}
