<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('Meditation.static',filename='css/asana.css') }}">

            <meta charsey="UTF-8">
            <meta name="viewport" content="width=device-width,initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>מדיטציה</title>
    </head>
<body>
<Header>     {% include 'Header.html' %} </Header>

        <h1> מדיטציה</h1>
        <div class="asana up">
            <div>
                <img src="{{ url_for('Meditation.static', filename='photos/Pranyama.jpg' )}}" style="justify-content:space-around;">
            </div>
            <div class="content" style="flex: 5; max-width: 2000px;">
               <p>מדיטציה היא דרך התבוננות במצב הקיים בנו, דרך לגילוי האמת הפנימית שבנו. <br>
                        המדיטציה היא כמו שריר אשר ניתן לתרגל ולחזק אותו, המדיטציה מאפשרת לנו להיות במודעות לתנודות התודעה ובכך להחליט על דרך התגובה שלנו.  <br><br>
                        
                        אנחנו נמצאים ביום יום במצב בו תשומת הלב שלנו מוסכת כל הזמן, התודעה שלנו מופנת החוצה – אל החושים שלנו ובכך התודעה יכולה לקפוץ מנושא לנושא די במהרה. <br>
                         כשהיינו ילדים התודעה הייתה קופצנית מאד, יכולנו להרגיש איך דברים קטנים וחיצוניים יכולים לשנות משמעותית את מצב הרוח, איך קבלת ארטיק יכולה להרגיש כמו זכייה בלוטו. ככל שאנחנו מתבגרים התודעה נהיית קהה יותר, אך עדיין אנחנו יכולים להרגיש את השינויים במצב הרוח. <br>
                        
                        מדמים בספרות היוגה את התודעה שלנו כקוף אשר קופץ מענף לענף, הבודהה דימה תודעה לפיל פראי – ייצור שאפשר לאמן אותו כדי להשתמש בכוחו ובעוצמתו באופן מיומן. בעזרת המדיטציה אנחנו מאמנים את התודעה. <br>
                        
                        בחינוך שאנחנו מכירים מהבית או ממסגרות שבהם חונכנו, מלמדים אותנו איך לעבוד עם המוח שלנו, איך לאמן את המוח לטובת מטלות מסויימות. אך לא מלמדים אותו איך להשתמש בו להתבוננות במצב הקיים , לא מלמדים איך ניתן לשנות ולשפר דברים בעצמנו בעזרת התבוננות מעמיקה ושקטה פנימה. <br>
                        
                        
                        מדיטציה היא מודעות רגועה, נטולת מאמץ והישגיות, הממוקדת בהווה, בכאן ועכשיו, וכרוכה ביכולת לראות נכוחה. ישנן מספר רב של טכניקות למדטיציה, הטכניקות השכיחות ממקדות את התודעה באובייקט אחד, ויזואלי, שמיעתי או תחושתי. באמצעות המיקוד, תנודות התודעה נרגעות ונוצרת בהירות מחשבתית ושלווה עמוקה. <br>
                        
                        
                        המוח שלנו עסוק כמעט ללא הפסקה במחשבות, בניתוח מצבים, בזיכרונות, ברגשות ובחלימה בהקיץ. במדיטציה אנחנו לא מנסים להילחם בהם או לרוקן מהם את התודעה. אלא, באמצעות המיקוד באובייקט אחד אנו מסיטים מהם את המבט ומאפשרים למוח להיעשות צלול ורגוע. באמצעות אי השקעת אנרגיה בהם, התהליכים המנטליים נרגעים. <br>
                        </p>
            </div>
                </div>
    
             <div class="asana down">
            
            <div class="content">
              
            </div>
                </div>
              
<Footer>                {% include 'Footer.html' %}        </Footer>
     </body>

</html>